.main {
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 0px 0px;
    background: #FFFFFF;
    /*background: #FFFF00;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 150%;
    color: #000000; /*#666666*/
    text-align: center;
    vertical-align: top;
}
#所有超链接的字体大小和颜色
a {
    font-size: 12px;
    color: #0066FF; /*#1E33F7*/
}

#没有被访问过时
a:link {
    text-decoration: none;
}

#被访问过时
a:visited {
    text-decoration: none;
    color: #0066FF;
}

#悬停
a:hover {
    text-decoration: none;
    color: #990099; /*颜色变换*/
}

#执行时
a:active {
    text-decoration: none;
    color: #0066FF;
}

#最顶的一栏
#divhead {
    width: 100%;
}
.headtable {
    width: 100%;
}
.headtable td {
    padding: 10px 50px 25px 135px;
}

#divmenu {
    width: 100%;
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #b4d76d;
    background-color: #000000;
    text-align: center;
    padding: 10px 0px 10px 0px;
    font-size: 14px;
}

#divmenu a {
    font-size: 14px;
    color: #FFFFFF; /*#1E33F7*/
    font-weight: bold;
    padding: 10px 10px 10px 10px;
}

#divmenu a:link {
    text-decoration: none;
    font-weight: bold;
}

#divmenu a:visited {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

#divmenu a:hover {
    text-decoration: none;
    color: #999999; /*颜色变换*/
    font-weight: bold;
}

#divmenu a:active {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

#divsearch {
    width: 100%;
    background-color: #f59f1d;
    text-align: center;
    padding: 5px 0px 5px 0px;
    color: #FFFFFF;
    font-weight: bold;
}

.inputtable {
    width: 130px;
    height: 18px;
    border: 1px solid #999999;
}

.inputbutton {
    color: #000000;
    background-color: #FFFFFF;
    padding: 1px;
    border: 1px solid #999999;
}

#divfoot {
    width: 100%;
    clear: both;
    background-color: #efefef;
    margin-top: 15px;
    position: absolute;
    bottom: 0;
}

#divcontent {
    width: 900px;
    background-color: #FCFDEF;
    border: 1px solid #EEEDDB;
    MARGIN-RIGHT: auto;
    MARGIN-LEFT: auto;
}
.upline {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #B0BEC7;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
}

.textinput {
    margin-left: 10px;
    font-size: 12px;
    width: 150px;
    height: 18px;
    border: 1px solid #A4B5BD;
}

.textarea {
    margin-left: 10px;
    font-size: 12px;
    width: 350px;
    height: 75px;
    border: 1px solid #A4B5BD;
}
